@import "../../styles/index.scss";

.cart-banner {
  background: url("../../assets/main/cart/cart-background.png");
  background-repeat: no-repeat;
  background-position: 40% 0;
  padding: 10em 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10em 0;
  }
  &__text {
    font-size: 2.5em;
    font-weight: 800;
  }
}
