@import "../../styles/index.scss";

.button {
  display: flex;
  gap: 0.5em;
  background-color: $yellow-color;
  padding: 1.5em 2em;
  border-radius: 20px;
  transition-duration: 0.5s;
  width: fit-content;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $hover-yellow;
    color: $hover-main-text;
  }
  &__text {
    font-size: 1em;
    color: $main-text-color;
    font-weight: 600;
  }
  &__arrow {
    color: #fff;
    background-color: $hover-main-text;
    border-radius: 50%;
    padding: 0.1em;
    position: relative;
    font-size: 0.9em;

    &::before,
    &::after {
      content: "-";
      color: transparent;
    }
  }
}
