@import "./variables.scss";
@import "./normalize.scss";

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: $initial-font-size;
  color: $main-text-color;
}

.main {
  flex: 1 1 auto;
  font-family: "Open Sans", sans-serif;
}

[class*="__container"] {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $main-text-color;
  font-weight: 600;
}
