$main-text-color: #274c5b;
$hover-main-text: #335b6b;
$green-color: #7eb693;
$hover-green: #8bc8a1;
$yellow-color: #efd372;
$hover-yellow: #f0da8b;
$light-green-color: #eff6f1;
$container-width: 1400px;
$items-background: #f9f8f8;
$initial-font-size: 20px;
$subtitle-color: #68a47f;
$grey-text-color: #525c60;
$order-color: #fef2dd;
